<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<style>
.space {
	padding:30px;
	margin: 30px;
}

#heading {
	color: red;
}

</style>


<h1 id="heading">Error: You have enteted duplicate data !</h1>


    <footer>
       <a class="space" href="index">Return Homepage</a>  
       <a class="space" href="authorList">Author List</a>
       <a class="space" href="authorAddForm">Add Book Form</a>
       <a class="space" href="authorDeleteForm">Delete Author Form</a>
       <a class="space" href="authorSearchForm">Search Author Form</a>
   </footer>

</body>
</html>
