<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
   
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Add New Books</title>
    
    <style>

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.purple-border {
    border: 1px solid #9e9e9e;
}
.input-group.md-form.form-sm.form-2 input[type=text]:focus:not([readonly]).purple-border {
    border: 1px solid #ba68c8;
    box-shadow: none;
}
.form-2 .input-group-addon {
    border: 1px solid #ba68c8;
}
.danger-text {
    color: #ff3547; 
}  
.success-text {
    color: #00C851; 
}
.table-bordered.red-border, .table-bordered.red-border th, .table-bordered.red-border td {
    border: 1px solid #ff3547!important;
}        
.table.table-bordered th {
    text-align: center;
}

.space {
	padding: 30px 50px 30px 50px;
	margin: 30px 50px 30px 50px;
}

</style>
   
   												<!-- Adding CSS file -->
<script th:inline="javascript">

function validate() { 
	
	var regEx = /^\d{4}-\d{2}-\d{2}$/;   // Date format rule: YYYY-MM-DD
	var dateCheck = document.getElementById('date').value; 
	var dateCheck_toDate = new Date(dateCheck);  // Date string to date object
	
	var currentDate = Date.now(); // current date
	
	// Check format
	if(!dateCheck.match(regEx) &&　dateCheck != "") {
		document.getElementById("dateMsg").innerHTML = "Invalid date. Please follow the format YYYY-MM-DD";
		document.getElementById("dateMsg").style.color = "red";
		return false;
	}

	// Check logic
	else if ((dateCheck_toDate > currentDate || dateCheck_toDate == "Invalid Date") && dateCheck != ""){
		document.getElementById("dateMsg").innerHTML = "Invalid date: Published day should be smaller than today. ";
		document.getElementById("dateMsg").style.color = "red";
		return false;
	} 
	
	else if (JpaSystemException || SQLIntegrityConstraintViolationException){
		alert("Book you entered already existed !");
		return false;
	}
}

</script>
    
   
  </head>
  
  
  <body>
  

  <div class="content">
    
    <div class="container">

      
      <div class="row justify-content-center">
        <div class="col-md-10">
          
          <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">

              <h2 class="mb-5">Just fill in the form. <br> It's easy.</h2>

              <form class="border-right pr-5 mb-5" method="post" id="contactForm" name="contactForm" action="bookSave" th:action="@{/bookSave}" 
              th:object="${book}"  accept-charset="UTF-8" th:onsubmit="|return validate()| ">
                              
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" class="form-control" name="title" id="title" required="required" placeholder="Book Title (*)" th:field="*{title}" />
                    <p id="titleMsg"></p>
                  </div>
                </div>
                                
                 <div class="row">
                  <div class="col-md-12 form-group">
                  <div>
                  	<p><strong>Select Author:</strong>
	                  <select th:field="*{author}">
	                  	<option 
	                  	 	th:each="author: ${listAuthorDropDownList}"
		                  	th:value="${author.author} "
		                  	th:text="${author.author}" >
	                  	</option>
                  	</select>
                </div>
               </div>
              </div>

                <div class="row">
                  <div class="col-md-12 form-group">
                  <input type="text" class="form-control" name="date" id="date" placeholder="Publish Year (YYYY-MM-DD)" th:field="*{date}" />             
                  	<p id="dateMsg"></p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-12 form-group">
                  <div>
                  	<p><strong>Select Publisher:</strong>
	                  <select th:field="*{publisher}">
	                  	<option 
	                  	 	th:each="publisher: ${listPublisherDropDownList}"
		                  	th:value="${publisher.publisher} "
		                  	th:text="${publisher.publisher}" >
	                  	</option>
                  	</select>
                </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-12">
                  	<button class="btn">Add Book</button>
                    
                    <span class="submitting"></span>
                  </div>
                </div>
                  </form>
              <div id="form-message-warning mt-4"></div> 
              <div id="form-message-success">
                Your message was sent, thank you!
              </div>

            </div>
            <div class="col-lg-4 ml-auto">
              <h3 class="mb-4">Let's enrich the library</h3>
              <p>In order to recommend the best books and promote the reading habits to readers, this online library is a good platform to establish these goals</p>
              <p><a href="#">Start reading from TODAY !</a></p>
            </div>
          </div>
        </div>  
        </div>
      </div>
  </div>
  
    <footer>
       <a class="space" href="index">Return Homepage</a>  
       <a class="space" href="bookList">Book List</a>
   </footer>
    
    
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>
  
  </body>


</html>

                                      