<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
<meta charset="UTF-8">
<title>Search Result</title>
</head>
<body>
<div align="center">
	<h2>Publisher List: Search Result</h2>
	<table border="1" cellpadding="5">
		<tr>
			<th>Publisher Name</th>
			<th>Publisher Description</th>
			<th>Publisher</th>
		</tr>
		<tr th:each="publisher: ${publisherResult}">
			<td th:text= ${publisher.publisher} >
			<td th:text= ${publisher.description} >
		</tr>
	</table>
</div>	

	  <footer>
	   <a class="space" href="index">Return Homepage</a>  
	   <a class="space" href="publisherList">Publisher List</a>
	 </footer>
</body>
</html>