<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link th:href="@{/css/style.css}" rel="stylesheet" />   
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" /> 
	<script type="text/javascript" th:src="@{/js/checkPublisherDate.js}"></script>
    <title>Author Form</title>
  </head>
  
  
  <body>
	  <div class="d-lg-flex half">
	    <div class="bg order-1 order-md-2" style="background-image: url('images/author_bg.jpg');"></div>
	    <div class="contents order-2 order-md-1">
	
	      <div class="container">
	        <div class="row align-items-center justify-content-center">
	          <div class="col-md-7">
	            <div class="mb-4">
	              <h3>Introduce new author</h3>
	              <p class="mb-4">Describing the publisher who is worthy to be recognized.</p>
	            </div>
	            
	            
	            <form th:action="@{/authorSave}" enctype="multipart/form-data" method="POST"
	                    th:object="${author}"  th:onsubmit="|return validate()|">
	                    
	              <div class="form-group  last mb-3">
	              
	                <input type="text" id="author" class="form-control last mb-3" placeholder="Author Name *" th:field="*{author}" required/>
	              </div>
	              
	              <div class="form-group  last mb-3">
	                <input class="form-control last mb-3" id="birthYear" name="birthYear" type="text" placeholder="Birth Year (YYYY)" th:field="*{birthYear}">
	                <p id="birthYearMsg"></p>
	              </div>
	              
	              <div class="form-group last mb-3">
		              <p>Publisher Photo:</p> 
		              <input class="last mb-3" type="file" id="myFile" name="image" accept="image/png, image/jpeg"> 
		          </div>
	              
	              <div class="form-group last mb-3">
	              	<textarea class="last mb-3" placeholder="Enter Summary of Author Here" th:field="*{summary}"></textarea>
	              </div>
	              	
	              <input type="submit" value="Submit" class="btn btn-block btn-primary">
					
	            </form>
	          </div>
	        </div>
	      </div>
	    </div>
	
	    
	  </div>
	    
  </body>
</html>