<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/searchform.css}" rel="stylesheet" />
	      
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	
	<title> Search Author Form </title> 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">

</head>
  <body>
  

  <div class="content">
    
    <div class="container">

      
      <div class="row justify-content-center">
        <div class="col-md-10">
          
          <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">

              <h2 class="mb-5">Just fill in the form. <br> It's easy.</h2>

              <form class="border-right pr-5 mb-5" method="post" id="contactForm" name="contactForm" action="authorSearchList" th:object="${author}"  accept-charset="UTF-8" >
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" class="form-control" name="author" id="author" placeholder="Book Author" required="required" th:field="*{author}"/>
                  </div>
                </div>
                
                                
                <div class="row">
                  <div class="col-md-12">
                    <input type="submit" value="Search" class="btn btn-primary rounded-0 py-2 px-4">
                    <span class="submitting"></span>
                  </div>
                  
                </div>
              </form>

              <div id="form-message-warning mt-4"></div> 
              <div id="form-message-success">
                Your message was sent, thank you!
              </div>

            </div>
            <div class="col-lg-4 ml-auto">
              <h3 class="mb-4">Let's enrich the library</h3>
              <p>In order to recommend the best books and promote the reading habits to readers, this online library is a good platform to establish these goals</p>
              <p><a href="#">Start reading from TODAY !</a></p>
            </div>
          </div>
        </div>  
        </div>
      </div>
  </div>
  
    <footer>
       <a class="space" href="index">Return Homepage</a>  
       <a class="space" href="authorList">Author List</a>
    </footer>
    
  </body>
</html>
