<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

 <head>
  <meta charset="UTF-8">
  <link th:href="@{/css/publisherList.css}" rel="stylesheet" />
  
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
   
  <title> Publisher List </title> 
</head> 

     
<body class="hm-gradient">       

        <!--MDB Tables-->

            <div class="card mb-4">
                <div class="card-body">
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">Publisher List</h2>
                            <div class="input-group md-form form-sm form-2 pl-0">    
                                <span class="input-group-addon waves-effect purple lighten-2" id="basic-addon1"><a><i class="fa fa-search white-text" aria-hidden="true"></i></a></span>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                    <!--Table-->
                    <table class="table table-striped">
                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>Publisher Name</th>
                				<th>Publisher Description</th>
                				<th>Publisher Image</th>
                				<th>Action</th>
                            </tr>                   
                        </thead>

                        <tbody>
		   					<tr th:each="publisher: ${listPublisher}">  
		   					<td th:text=${publisher.publisher}>  
		   					<td><img class="left" th:src="@{'images/publisher_/' + ${publisher.id} + '/' + ${publisher.image}}" alt="" /></td>
		   					<td th:text=${publisher.summary}>  
		   					<td>
		   					
		   						<!-- Remember to use thymeleaf format !!!!!!   id refers variable of entity-->
		   						
								<a th:href="@{'publisherEdit?id=' + ${publisher.id}}">Edit</a>
								&nbsp;&nbsp;&nbsp;
								<a th:href="@{'publisherDelete?id=' + ${publisher.id}}">Delete</a>
								
							</td>
					   	   </tr>  
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>
            </div>
            <footer>
		    <a class="space" href="index">Return Homepage</a>  
			<a class="space" href="publisherAddForm">Add Publisher Form</a>
			<a class="space" href="publisherDeleteForm">Delete Publisher Form</a>
			<a class="space" href="publisherSearchForm">Search Publisher Form</a>
            </footer>
  
</body>
</html>