<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
       <link th:href="@{/css/app.css}" rel="stylesheet" />         
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
              <div class="bg-dark p-4">
                <h4 class="text-white">Dear User</h4>
                <span class="text-muted">Welcome to this Book Store, enjoy yourself!</span>
              </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <h1 class="title">Book List</h1>
                
                <a href="index">Homepage</a>  
	        	<a href="bookAddForm">Add-Book</a>
	        	<a href="authorAddForm">Add-Author</a>
	        	<a href="publisherAddForm">Add-Publisher</a>
	        	
	        	<a href="authorList">Author List</a>
	        	<a href="publisherList">Publisher List</a>
	        	
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
          </div>


        <!-- Using for loop to show the following books -->
        <section class="center">
            <a th:each="book: ${listBook}"  th:href="@{'/bookImage'(id=${book.id})}">
                <div class="book-container">
                    <section class="img-left" th:style="${book.soldOut} == true ? 'background: red'">     
                    	<img class="left" th:src="@{'images/book_/' + ${book.id} + '/' + ${book.image}}" alt="" />
                    </section>

                    <section class="right">
                        <div class="center">
	                         <a th:href="@{'/bookTitle'(id=${book.id})}"><p th:text="${book.title}"></p></a>
	                         <a th:href="@{'/bookAuthor'(id=${book.id})}" th:text="${book.author}"></a>
	                         <a th:text="${book.date}"></a> <br>
	                         <a th:href="@{'/bookPublisher'(id=${book.id})}" th:text="${book.publisher}"></a><br><br>
	                         
	                         <!-- Remember to use thymeleaf format !!!!!! -->
						     <a class="edit" th:href="@{'bookEdit?id=' + ${book.id}}">Edit</a>
						     &nbsp;&nbsp;&nbsp;
						     <a class="delete" th:href="@{'bookDelete?id=' + ${book.id}}">Delete</a>
						     
                        </div>
                    </section>
                </div>
            </a> 
        </section>
        
        <section class="tag">
            <a class="tag" href="index">Return Homepage</a>  
        	<a class="tag" href="bookAddForm">Add Book Form</a>
        	<a class="tag" href="bookDeleteForm">Delete Book Form</a>
        	<a class="tag" href="bookSearchForm">Search Book Form</a>
        
        </section>

    </body>
</html>
